.container {
	margin: 0 auto;
	width: 940px;
}

.destaque {
	background-image: url(../img/destaque.jpg);
	width: 100%;
	height: 600px;
	font-size: 60px;
}

.destaque p {
	margin: 0 auto;
	/*width: 1300px;*/
	padding-top: 320px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
}

.ong {
	background-color: #fff;
}

.ong a {
	color: #000;
}

.ong li {
	display: inline-block;
	width: 200px;
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

.ong li:first-child {
	float: left;
}

.ong li:nth-child(2) {
	margin-left: 150px;
}

.ong li:last-child {
	float: right;
}

.ong img {
	border-radius: 50px;
}

.eventos {
	/*background-color: #2F4F4F;*/
	background-color: #00688B;
}

.eventos a {
	color: #fff;
}

.eventos img {
	border-radius: 50px;
}

.eventos li {
	display: inline-block;
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

.eventos li:first-child {
	float: left;
}

.eventos li:last-child {
	float: right;
}

.eventos h2 {
	color: #fff;
}

.quem {
	background-color: #63B8FF;
}

.quem h2 {
	color: #fff;
}

.quem p {
	margin-top: 50px;
	font-size: 25px;
	text-align: center;
	margin-bottom: 70px;
}

header {
	position: relative;
	background-color: #fff;
}

footer p {
	color: #FFFFFF;
	margin-top: 10px;
	font-size: 20px;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	margin-top: 50px;
}

.menu-opcoes {
	position: relative;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 18px;
	margin-bottom: 30px;
}

.menu-opcoes ul li {
	display: inline-block;
	margin-left: 40px;
}

.menu-opcoes ul li:last-child {
	padding: 10px;
	background-color: #63B8FF;
	border: 0;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(30,30,30,0.5);
	color: white;
	font-size: 1em;
	text-decoration: none;
	text-shadow: 1px 0 1px black;
	transition: 0.3s;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes a:hover {
	color: #007dc6;
}

.menu-opcoes a:active {
	color: #867dc6;
}

footer {
	background-color: #363636;
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 10px;
	right: 0;
}

.social li {
	float: left;
}

.social li a{
	height: 32px;
	width: 32px;
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}